matplotlib==3.3.3
MedPy==0.4.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
opencv-python==4.5.2.54
pandas==1.1.5
Pillow @ file:///tmp/build/80754af9/pillow_1603822238230/work
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
SimpleITK==2.0.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
tqdm==4.54.1